* {font-family: 'Inter';}
h2 {
    margin-top: 50px; 
    text-align: center;
}
.listas {
    display: flex;
    justify-content: center;
}
.listas ul {
    list-style-type: none;
}
.id{
    margin-right: 10px;
}
.button {
    margin: 5px 0px;
}