* {font-family: 'Inter';}
h2 {
    margin-top: 50px; 
    text-align: center;
}
table {
    width: 50% !important;
    margin: auto;
}
.listas {
    display: flex;
    justify-content: center;
}
.listas ul {
    list-style-type: none;
    padding-inline-start: 0px;
}
.listas ul li {
    margin-bottom: 10px;
}
.id, .nome {
    margin-right: 10px;
}
.button {
    margin: 5px 0px;
}
