<h2>Lista de compras</h2>

<!--<div class="add-produtos">
    <label for="novo-produto">Produto: </label>
    <input id="novo-produto" >

    <button type="button" class="add-produtos" (click)="add(heroName.value); heroName.value=''">
        Adicionar
    </button>
</div>-->

<div class="listas">
    <ul>
        <li *ngFor="let Lista of lista">
            <span class="quantidade">{{Lista.quantidade}}</span>
            <span class="nome">{{Lista.nome}}</span>
        </li>
    </ul>
</div>

testes